.fav-footer {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom:0;
        right:0;
        left:0;
        height: 150px;
        background:rgba(111,111,111,.8);
        border-top:1px solid #ddd;
        white-space: nowrap;    
        overflow: auto;
        overflow-y: hidden;
        -webkit-animation: slide-top .6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-top .6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35);
}
.fav-footer.hide {
    display:none;
}

.fav-footer .fav {
    position:relative;
    height: 150px;
    min-width: 150px;
    transition: .8s;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
}

.fav-footer .fav:hover:after {
    content: "";
    position:absolute;
    top:0;left:0;bottom:0;right:0;
    background: rgba(255,255,255,.5);
}

.fav-footer .fav .icon {
    position: absolute;
    z-index:2;
    opacity:0;
}

.fav-footer .fav .icon.close {
    cursor: pointer;
}

.fav-footer .fav:hover .icon {
    transition:.5s;
    top:6px;
    left:6px;
    opacity:1;
}


.swing-in-left-bck {
	-webkit-animation: swing-in-left-bck 0.4s .8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-left-bck 0.4s .8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
            transform: rotateY(-70deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}
@keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
            transform: rotateY(-70deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}
