.container {
    margin-top: 40px;
}

.album-info {
    /* background: #ded; */
}

.album-list {
    /* background: #ede; */
}

.ui.segments.piled {
    box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
}

.ui.inverted.divider {
    padding-bottom:10px;
}

.info-image {
    width: 80%;
    margin: 0 auto;
    box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
}